<launch>
  <arg name="mav_name"            value="fixedwing"/>

  <arg name="color"               default="White"/>
  <arg name="x"                   default="0"/>
  <arg name="y"                   default="0"/>
  <arg name="z"                   default=".2"/>
  <arg name="yaw"                 default="0"/>
  <arg name="paused"              default="false"/>
  <arg name="gui"                 default="true"/>
  <arg name="verbose"             default="true"/>
  <arg name="debug"               default="false"/>

  <include file="$(find rosflight_sim)/launch/base.launch">
    <arg name="mav_name" value="$(arg mav_name)"/>
    <arg name="color" value="$(arg color)"/>
    <arg name="x" value="$(arg x)"/>
    <arg name="y" value="$(arg y)"/>
    <arg name="z" value="$(arg z)"/>
    <arg name="yaw" value="$(arg yaw)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="verbose" value="$(arg verbose)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="xacro_file" value="$(find rosflight_sim)/xacro/fixedwing.urdf.xacro"/>
    <arg name="param_file" value="$(find rosflight_sim)/params/fixedwing.yaml"/>

    <!-- CHANGE DEFAULT WORLD FILE -->
    <!-- CURRENT COMPUTER TOO WIMPY FOR A FULL AIRFIELD :( -->
    <!-- MUST USE FULL PATH? -->
    <!-- <arg name="world_file"          default="/home/trenton/Intelligent_Robotics/catkin_ws/src/launch/empty_runway.world"/> -->
    <!-- <arg name="world_file"          default="/home/trenton/Intelligent_Robotics/catkin_ws/src/launch/airfield.world"/> -->
  </include>

  <node name="rosflight_io" pkg="rosflight" type="rosflight_io" output="screen">
    <param name="udp" value="true"/>
  </node>

  <!--
  <node name="altitudePID" pkg="rosflight_control" type="altitudePID.py">
  </node>
  -->

  <!-- BIND KEYBOARD TO RC CONTROLS -->
  <node name="rc_keyboard" pkg="rosflight_joy" type="rc_keyboard">
    <remap from="RC" to="fixedwing/RC"/>
    <param name="auto_arm" value="true"/>
    <!--
    <param name="auto_takeoff" value="true"/>
    -->
  </node>
</launch>

